body {
	background-color: rgb(230, 230, 230) ;
	font-family: 'Barlow', sans-serif;
	font-size:  17px;
}

h1 {
	color:  rgb(150, 0, 3);
	font-weight:  100;
	font-size: 32px;
}

h2 {
	font-family: 'Permanent Marker', cursive;
	color:  rgb(150, 0, 3);
	text-decoration-line: underline;
	font-weight: bold;
}

a {
	text text-decoration: none;
	color:  black;
}
a:hover {
	color:  darkred;
}

#logo {
	width: 400px;
}

.img-circle {
	border-radius: 90%;
}

.shadowed {
	box-shadow: 5px 5px 3px black;
}



div {
	background: white;
	border: 2px solid black;
}

